*{
margin:0;
font-family: 'Sarabun', sans-serif;
}

.container-menu{
height: 10vh;
display: flex;
justify-content:space-between;
position: relative;
align-items: center;
background: #fff;
font-weight: bold;
box-shadow: 0vh .3vh rgba(185, 185, 185, 0.842);
}

.container-menu img{
width: 8vh;
padding: 0px 2vw;
}

.container-menu__ul{
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}
.container-menu a{
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    padding: 0vh 3.5vh;
}

.container-menu__ul a:hover{
    background-color: rgb(27, 14, 122);
    color: #fff;
}
.container-menu__ul li{
    color:rgb(27, 14, 122);
list-style: none;
width: 100%;
height: 100%;
}
.container-menu__ul li:hover{
    color:#fff;
}

.container-portada{
    width: 100%;
    height:90vh;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    display: flex;
}
.container-portada__slide-control{
    position:absolute;
    width: 100%;
    height: 5vh;
    display: flex;
}
.control-middle{
    top: 50%;
    justify-content: space-between;
}
.control-bottom{
    bottom: 0;
    justify-content: center;
    align-items: center;
}

.control-bottom__page{
    background-color: rgba(187, 187, 187, 0.5);
    border-radius: 50%;
    width: 3.5vh;
    height: 3.5vh;
    margin: 1vh;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.control-bottom__page:focus{
    background-color: rgba(18, 141, 248, 0.685);
}

.boton-control{
    width: 5vh;
}
.container-portada__slide{
    width: 100vw;
    height:100vh;
    background-position: center;
    background-size: cover;
    scroll-snap-align: center;
}

.container-txt{
    padding: 5vh 6vw;
    text-align: center;
    font-size: 20px;
    background-color: #229;
    color:#fff;
}

.container-footer{
    width: 100%;
    height: 20vh;
    background-color: #001228;
    color: #ebe5e5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-footer__redes{
    width: 50vh;

}
.container-footer__redes a{
    padding: 0vh 1.5vh;
}

.container-footer__contactos ul{
    display: flex;
    width: 50vh;
    flex-direction: column;
    flex-wrap: wrap;
}
.container-footer__contactos ul li{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.container-footer__contactos ul li img{
    padding: .3vh 1vh;
    width: 3vh;
}